@model SIPI_web.Models.tbl_usuario

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutPublico.cshtml";
}

<br />
<div>
    <h4><b style="color:blue">Usuario Agregado en el Portal: </b>@Html.DisplayFor(model => model.id_usuarioNavigation.UserName)</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Fecha Nacimiento
        </dt>
        <dd class="col-sm-10">
            @Model.usuario_fechaNacimiento.ToLongDateString()
        </dd>
        <dt class = "col-sm-2">
            Ciudad Nacimiento
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.usuario_ciudadNacimientoNavigation.ciudad_nombre)
        </dd>
        <dt class = "col-sm-2">
           Ciudad de Ubicacion
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.usuario_ciudadUbicacionNavigation.ciudad_nombre)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id_usuario">Modificar</a> |
    <a asp-action="create" asp-controller="persona">Siguiente</a>
</div>
