@model IEnumerable<SIPI_web.Models.tbl_integrante>

@{
    ViewData["Title"] = "misTrabajosDeInvestigacion";
    Layout = "~/Views/Shared/_LayoutEstudiante.cshtml";
}

<h1>misTrabajosDeInvestigacion</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Fecha y Tipo
            </th>
            <th>
                Titulo de la Investigacion
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    Fecha Creacion: @Html.DisplayFor(modelItem => item.id_trabajoNavigation.trabajo_fechaCreacion) <br />
                    @Html.DisplayFor(modelItem => item.id_trabajoNavigation.id_tipoTrabajoNavigation.tipoTrabajo_nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.id_trabajoNavigation.trabajo_titulo)
                </td>
                <td>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.id_trabajo">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.id_trabajo">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.id_trabajo">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
