@model SIPI_web.Models.tbl_estudiante

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_LayoutPublico.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>tbl_estudiante</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.estudiante_fechaIngreaso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.estudiante_fechaIngreaso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.estudiante_fechaActualizacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.estudiante_fechaActualizacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.estudiante_cohorte)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.estudiante_cohorte)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.id_equipoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id_equipoNavigation.equipo_nombre)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.id_estudianteEstatusNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id_estudianteEstatusNavigation.estudianteEstatus_codigo)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.id_estudianteNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id_estudianteNavigation.id_persona)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.id_informeAcademicoEstatusNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id_informeAcademicoEstatusNavigation.informeAcademicoEstatus_codigo)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.id_metodologiaEstatusNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id_metodologiaEstatusNavigation.metodologiaEstatus_codigo)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.id_pasantiaEstatusNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id_pasantiaEstatusNavigation.pasantiaEstatus_codigo)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.id_sedeNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id_sedeNavigation.sede_codigo)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id_estudiante" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
