@model SIPI_web.Models.tbl_estudiante

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutPublico.cshtml";
}

<br/>
<div>
    <h4><b>Detalles del Estudiante: </b></h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Fecha de Ingreso
        </dt>
        <dd class = "col-sm-10">
            @Model.estudiante_fechaIngreaso.ToShortDateString()
        </dd>
        <dt class = "col-sm-2">
           Fecha Ultima Actualizacion
        </dt>
        <dd class="col-sm-10">
            @Model.estudiante_fechaActualizacion.ToShortDateString()
        </dd>
        <dt class = "col-sm-2">
            Cohorte a a que pertenece
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.estudiante_cohorte)
        </dd>
        <dt class = "col-sm-2">
            Equipo de Proyecto
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id_equipoNavigation.equipo_nombre)
        </dd>
        <dt class = "col-sm-2">
            Estatus del Estudiante
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id_estudianteEstatusNavigation.estudianteEstatus_nombre)
        </dd>
        <dt class = "col-sm-2">
            Estatus del Articulo Academico
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id_informeAcademicoEstatusNavigation.informeAcademicoEstatus_nombre)
        </dd>
        <dt class = "col-sm-2">
           Estatus del Trabajo Especial de Grado (TEG)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id_metodologiaEstatusNavigation.metodologiaEstatus_nombre)
        </dd>
        <dt class = "col-sm-2">
           Estatus de Pasantia
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id_pasantiaEstatusNavigation.pasantiaEstatus_nombre)
        </dd>
        <dt class = "col-sm-2">
            Sede del Equipo
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id_sedeNavigation.sede_nombre)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" asp-controller="Home">Salir</a>
</div>
