@model IEnumerable<SIPI_web.Models.tbl_estudiante>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutPublico.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nombre Completo
            </th>
            <th>
               Fechas Importantes
            </th>
            <th>
               Cohorte
            </th>
            <th>
               Equipo
            </th>
              @*<th></th>*@
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id_estudianteNavigation.peresona_nombreCompleto) <br />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.estudiante_cohorte)<br />
                @Html.DisplayFor(modelItem => item.id_sedeNavigation.sede_nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.id_equipoNavigation.equipo_nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.id_estudianteEstatusNavigation.estudianteEstatus_nombre)
            </td>
            @*<td>
                <a asp-action="Edit" asp-route-id="@item.id_estudiante">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id_estudiante">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id_estudiante">Delete</a>
            </td>*@
        </tr>
}
    </tbody>
</table>
