@model IEnumerable<SIPI_web.Models.tbl_integrante>

@{
    ViewData["Title"] = "Index";
    Layout = "";
}
Fermamdpo
<div class="row">
    <div>
        <table>
            <thead>
                <tr>
                    <th>
                        Nombre de Integrante de TEG
                    </th>
                    <th>
                        Fecha Cargado en Portal
                    </th>
                    <th>
                        Fecha Confirmacion
                    </th>
                    <th>
                        Confirmar Participacion en TEG
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.id_estudiante1.peresona_nombreCompleto)
                        </td>
                        <td>
                            @item.integrantes_fechaCarga
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.integrandes_fechaConfirmado)
                        </td>
                        <td>
                            <button>Confirmar Participacion</button>
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.id_integrantes">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.id_integrantes">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.id_integrantes">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


