@model IEnumerable<SIPI_web.Models.tbl_carrera>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.carrera_nombre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.carrera_nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id_carrera">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id_carrera">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id_carrera">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<a asp-action="Index" asp-controller="tablasPrevias">Regresar a Tablas Previas</a>