@model IEnumerable<SIPI_web.Models.tbl_pasantiaEstatus>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.pasantiaEstatus_codigo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pasantiaEstatus_nombre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.pasantiaEstatus_codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pasantiaEstatus_nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id_pasantiaEstatus">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id_pasantiaEstatus">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id_pasantiaEstatus">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<a asp-action="Index" asp-controller="tablasPrevias">Regresar a Tablas Previas</a>