@model SIPI_web.Models.tbl_integrante

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutEstudiante.cshtml";
}

<h1>Details</h1>

<div>
    <h4>tbl_integrante</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.integrantes_fechaCarga)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.integrantes_fechaCarga)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.integrantes_confirmado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.integrantes_confirmado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.integrandes_fechaConfirmado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.integrandes_fechaConfirmado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.id_estudianteNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id_estudianteNavigation.id_estudiante)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.id_trabajoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id_trabajoNavigation.trabajo_planteamientoProblema)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id_integrantes">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
