@model IEnumerable<SIPI_web.Models.AspNetUser>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutPublico.cshtml";
}

<h4>Usuarios en el Portal</h4>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Nombre de Usuario
            </th>
            <th>
               Email
            </th>
            <th>
                Numero de telefono
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.UserName)</a> 
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
            </td>
        </tr>
}
    </tbody>
</table>
