@model IEnumerable<SIPI_web.Models.AspNetUser>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutPublico.cshtml";
}

<h4>Usuarios en el Portal: @Model.Count()</h4>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nombre de Usuario
            </th>
            <th>
                Email
            </th>
            <th>
                Numero de telefono
            </th>
            <th>
                Roles
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.UserName)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @{
                    foreach (var roles in item.AspNetUserRoles)
                    {
                        @Html.DisplayFor(modelItem => roles.Role.Name); <br />
                    }
                }
            </td>
            <td>
                <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("selectorUserRole", "AspNetUsers", new { id = item.Id } )'">
                    Agregar Roles
                </button>
            </td>
        </tr>
        }
    </tbody>


</table>


<script>
    function asignaRole(userName) {
        var userName = userName;

        window.open("/seleccionCiudad.html?ciudad=" + ciudad + "&idCiudad=" + idCiudad, "_blank", "toolbar=yes,scrollbars=yes,resizable=yes,top=500,left=500,width=400,height=400");
    }

    function cargaRoles() {
        alert('entro');
        document.getElementById('valor').innerText = 'fer';
    }
</script>

