@model List<SIPI_web.Models.AspNetUserRole>

@{
    ViewData["Title"] = "selectorUserRole";
    //Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<form action="/aspnetusers/guardaUserRole" method="post">
    @{
        bool _rolselected = false;
        var _rolesLista = ViewData["roles"] as List<AspNetRole>;

        var _idAsignar = Model.ElementAt(0).UserId;

        <input type="hidden" id="idAsignar" name="idAsignar" value="@_idAsignar" />

        foreach (var item2 in _rolesLista)
        {
            _rolselected = Model.Any(x => x.RoleId.Equals(item2.Id));

            <input type="checkbox" id="@item2.Name" name="@item2.Name" checked="@_rolselected" />
            <label>@item2.Name</label><br />
        }
    }
    <button type="submit">Guardar Roles</button>
</form>
