@model SIPI_web.Models.tbl_trabajo

@{
    ViewData["Title"] = "Details";
    Layout = "";
}

<body>
    <table class="table">
        <tr>
            <td><b>Codigo Interno:</b> @Html.DisplayFor(model => model.tbl_teg.teg_codigoInterno)</td>
            <td><b>Codigo Teg:</b> @Html.DisplayFor(model => model.tbl_teg.teg_codigoTeg)</td>
            <td><b>Fecha Carga Teg: </b>@Model.tbl_teg.id_tegNavigation.trabajo_fechaCreacion.ToString("dd/MM/yyyy")</td>
        </tr>
        <tr>
            <td colspan="3">
                <br />
                <b>Titulo del Trabajo Especial de Grado:</b><br />
                @Html.DisplayFor(model => model.tbl_teg.id_tegNavigation.trabajo_titulo)
            </td>
        </tr>
        <tr>
            <td>
                <br /><b>Integrantes:</b><br />
                @foreach (var estudiante in Model.tbl_integrantes)
                {
                    <label>@estudiante.id_estudiante1.peresona_nombreCompleto</label><br/>
                }
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <textarea asp-for="trabajo_planteamientoProblema" rows="20" cols="100%"></textarea>
            </td>
        </tr>
    </table>
</body>

<div>
    <a asp-action="Edit" asp-route-id="@Model.tbl_teg.id_teg">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
