@model IEnumerable<SIPI_web.Models.tbl_teg>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutEstudiante.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.teg_codigoInterno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.teg_codigoTeg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.teg_porcentaje)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.teg_puntuacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.teg_fechaDefensa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.id_statusTeg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.teg_fechaRecepcionDocumento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.teg_observacionRecepcionDocumento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.id_consultorAcademicoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.id_consultorMetodologiaNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.id_tegNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.teg_codigoInterno)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.teg_codigoTeg)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.teg_porcentaje)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.teg_puntuacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.teg_fechaDefensa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.id_statusTeg)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.teg_fechaRecepcionDocumento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.teg_observacionRecepcionDocumento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.id_consultorAcademicoNavigation.id_persona)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.id_consultorMetodologiaNavigation.id_persona)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.id_tegNavigation.trabajo_planteamientoProblema)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.id_teg">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.id_teg">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.id_teg">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
