@model IEnumerable<SIPI_web.Models.tbl_trabajo>

<table class="table" style="width:100%">
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                <b>Cod Interno:</b> @Html.DisplayFor(modelItem => item.tbl_teg.teg_codigoInterno) <br />
                <b>Cod TEG: </b>@Html.DisplayFor(modelItem => item.tbl_teg.teg_codigoTeg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tbl_teg.id_tegEstatusNavigation.tegEstatus_nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tbl_teg.id_consultorAcademicoNavigation.peresona_nombreCompleto) <br />
                @Html.DisplayFor(modelItem => item.tbl_teg.id_consultorMetodologiaNavigation.peresona_nombreCompleto)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.tbl_teg.id_teg">Datos de Proyectos</a> <br />
                <a onclick="abreDetalle(@item.tbl_teg.id_teg)">Detalles TEG</a>
                <a asp-action="Details" asp-route-id="@item.tbl_teg.id_teg">Detalles</a> |
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <label><B>INTEGRANTES:</B></label>
                @{
                    foreach (var estudiante in item.tbl_integrantes)
                    {
                        <label>@estudiante.id_estudiante1.peresona_nombreCompleto    </label>
                    }
                }
            </td>
        </tr>
        }
    </tbody>
</table>

<script>
    function abreDetalle(valor) {
        window.open('Details/' + valor,'_blank', 'toolbar=yes,scrollbars=yes,resizable=yes,top=500,left=500,width=400,height=400');
    }
</script>