@model SIPI_web.Models.tbl_inscrito

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_LayoutPublico.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>tbl_inscrito</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.inscrito_email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.inscrito_email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.inscrito_nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.inscrito_nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.inscrito_equipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.inscrito_equipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.inscrito_sipiActivo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.inscrito_sipiActivo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.inscrito_fechaCreacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.inscrito_fechaCreacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.inscrito_fechaActualizacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.inscrito_fechaActualizacion)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id_inscrito" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
