@model IEnumerable<SIPI_web.Models.tbl_inscrito>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutPublico.cshtml";
}

<h4>Autorizados en el Portal: @Model.Count()</h4>

<p>
    <a asp-action="Create">Nuevo Autorizado</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Inscrito
            </th>
            <th>
                Miembro
            </th>
            <th>
                Activo
            </th>
            <th>
                Fechas Importantes
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id_inscrito">@Html.DisplayFor(modelItem => item.inscrito_nombre)</a> <br />
                @Html.DisplayFor(modelItem => item.inscrito_email) 
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.inscrito_equipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.inscrito_sipiActivo)
            </td>
            <td>
                Fecha Creacion: @Html.DisplayFor(modelItem => item.inscrito_fechaCreacion) <br />
                Fecha Ingreso: @Html.DisplayFor(modelItem => item.inscrito_fechaActualizacion)
            </td>
            <td>
                @*<a asp-action="Details" asp-route-id="@item.id_inscrito">Detalles</a>*@
                @*<a asp-action="Delete" asp-route-id="@item.id_inscrito">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
